@if (hasError) {
<app-error
  [title]="'Error occurred'"
  [message]="'An unexpected error occurred. Please try again later.'"
  [action]="'Go to Home'"
  [route]="'/'"
  aria-live="assertive"
  aria-label="Error occurred"
></app-error>
} @if (isLoading) {
<app-loading aria-live="polite" aria-label="Loading..."></app-loading>
} @if (!isLoading && !hasError) {
<div class="mx-auto max-w-7xl" aria-labelledby="cast-form-title">
  <form
    (ngSubmit)="submitVote()"
    [formGroup]="voteForm"
    class="mx-1 sm:mx-1.5 md:mx-3 lg:mx-5 xl:mx-0"
  >
    <div class="space-y-12">
      <div class="border-b border-gray-900 /10 pb-5">
        <h1 class="text-xl font-semibold leading-7 text-gray-900">
          {{ dataArr[0] }}
        </h1>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          {{ dataArr[1] }}
        </p>
      </div>

      <div class="space-y-4">
        @for (option of optionsArr; track $index) {
        <div aria-label="Select an option" class="cursor-pointer">
          <label
            class="flex cursor-pointer justify-between gap-4 rounded-lg border border-gray-100 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-200 focus:border-indigo-600 focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2"
          >
            <p class="text-gray-700 text-lg">{{ option }}</p>
            <input
              type="radio"
              formControlName="selectedOption"
              [value]="option"
              [id]="$index"
              class="size-5 border-gray-300 text-indigo-600 focus:ring-indigo-600"
            />
          </label>
        </div>
        }
      </div>

      <div class="flex justify-end space-x-4 mt-4">
        <button
          (click)="viewResults()"
          type="button"
          aria-label="View Results instead"
          class="w-full inline-flex items-center justify-center px-4 py-2 text-sm font-semibold text-gray-700 bg-gray-50 border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
        >
          View Results instead
        </button>
        <button
          [disabled]="!voteForm.valid"
          aria-label="Submit your choice"
          type="submit"
          [ngClass]="{
            'bg-gray-700 hover:bg-gray-700': voteForm.invalid,
            'bg-indigo-600 hover:bg-indigo-700': voteForm.valid
          }"
          class="w-full inline-flex items-center justify-center px-4 py-2 text-sm font-semibold text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
}
