<header class="bg-white">
  <nav
    aria-label="Global"
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
  >
    <div class="flex lg:flex-1">
      <a class="-m-1.5 p-1.5" href="/">
        <span class="sr-only">VoteVault</span>
        <img
          alt="VoteVault logo"
          class="h-8 w-auto"
          height="100"
          ngSrc="vv-logo-s.png"
          priority="true"
          width="100"
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        (click)="toggleMenu()"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 focus:ring-2 focus:ring-gray-500"
        type="button"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          aria-hidden="true"
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          viewBox="0 0 24 24"
        >
          <path
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a
        class="text-sm font-semibold leading-6 text-gray-900 focus:ring-2 focus:ring-gray-500"
        href="/"
        >Home</a
      >
      <a
        class="text-sm font-semibold leading-6 text-gray-900 focus:ring-2 focus:ring-gray-500"
        href="/about"
        >About</a
      >
    </div>
    @if (isLoggedIn === undefined) {
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <p
        aria-label="Loading auth status"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        Loading...
      </p>
    </div>
    } @else if (!isLoggedIn) {
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a
        class="text-sm font-semibold leading-6 text-gray-900 focus:ring-2 focus:ring-gray-500"
        href="/login"
      >
        Log in <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
    } @else {
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <button
        (click)="logout()"
        class="text-sm font-semibold leading-6 text-gray-900 focus:ring-2 focus:ring-gray-500"
      >
        Log out <span aria-hidden="true">&rarr;</span>
      </button>
    </div>
    }
  </nav>

  <div *ngIf="isMenuOpen" aria-modal="true" class="lg:hidden" role="dialog">
    <div (click)="closeMenu()" class="fixed inset-0 z-10 bg-gray-900/50"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a class="-m-1.5 p-1.5" href="/apps/frontend/public">
          <span class="sr-only">VoteVault</span>
          <img
            alt="VoteVault logo"
            class="h-8 w-auto"
            height="100"
            ngSrc="vv-logo-s.png"
            priority="true"
            width="100"
          />
        </a>
        <button
          (click)="closeMenu()"
          class="-m-2.5 rounded-md p-2.5 text-gray-700 focus:ring-2 focus:ring-gray-500"
          type="button"
        >
          <span class="sr-only">Close menu</span>
          <svg
            aria-hidden="true"
            class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
          >
            <path
              d="M6 18L18 6M6 6l12 12"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              (click)="closeMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 focus:ring-2 focus:ring-gray-500"
              href="/apps/frontend/public"
            >
              Home
            </a>
            <a
              (click)="closeMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 focus:ring-2 focus:ring-gray-500"
              href="/about"
            >
              About
            </a>
          </div>
          @if (!isLoggedIn) {
          <div class="py-6">
            <a
              (click)="closeMenu()"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 focus:ring-2 focus:ring-gray-500"
              href="/login"
            >
              Log in
            </a>
          </div>
          } @else {
          <div class="py-6">
            <button
              (click)="logout()"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 focus:ring-2 focus:ring-gray-500"
            >
              Log out
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</header>
