@if (isLoading) {
<app-loading aria-live="polite" aria-label="Loading..."></app-loading>
} @else { @if (hasError) {
<app-error
  [title]="'Error occurred'"
  [message]="this.errorMessage"
  [action]="'Try again'"
  [callback]="errorAction"
  aria-live="assertive"
  aria-label="Error occurred"
/>
} @else if (successMessage) {
<app-success
  [title]="'Account Created'"
  [message]="successMessage"
  [action]="'Go to Home'"
  [route]="'/'"
  [showHomeButton]="false"
  aria-live="assertive"
  aria-label="Registered successfully"
/>
<div class="mx-2.5 my-2">
  <div
    class="bg-yellow-50 border border-yellow-500 text-black px-4 py-3 rounded mx-auto max-w-5xl"
  >
    <div class="flex">
      <div class="flex-shrink-0">
        <svg
          class="h-5 w-5 text-yellow-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div (click)="downloadSecretKey()">
        <h3 class="text-sm font-medium text-yellow-800">
          Your PRIVATE KEY (click to download)
        </h3>
        <div class="mt-2 text-sm text-yellow-700">
          <p>
            Make sure to save this key in a secure place. You will need it to
            log in to your account!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 rounded mx-auto max-w-5xl">
    <button
      class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      type="button"
      (click)="continueToLogin()"
    >
      I have downloaded the private key
    </button>
  </div>
</div>

} @else {
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      alt="VoteVault"
      class="mx-auto h-10 w-auto"
      height="100"
      ngSrc="vv-logo-s.png"
      width="100"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in with Stellar
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6">
      <div>
        <button
          (click)="generateKeypair()"
          class="w-full rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          type="button"
        >
          Generate Key Pair
        </button>
      </div>
      <div>
        <label
          class="block text-sm font-medium leading-6 text-gray-900"
          for="publicKey"
          >Stellar Public Key</label
        >
        <div class="mt-2">
          <input
            class="text-[0.55em] block w-full text-center rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:leading-6"
            id="publicKey"
            name="publicKey"
            readonly
            type="text"
            [value]="publicKey"
          />
        </div>
      </div>

      <div>
        <button
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          type="submit"
          (click)="fundAccount()"
        >
          Register
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already have an account?
      <a
        class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        href="/login"
        >Log in</a
      >
    </p>
  </div>
</div>
} }
