<div class="mx-2.5 my-2">
  <div
    aria-live="assertive"
    class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mx-auto max-w-5xl"
    role="alert"
  >
    <h1 class="font-bold">{{ title }}</h1>
    <p class="text-sm">
      {{ message }}
      <button
        (click)="onActionClick()"
        class="hover:underline font-medium cursor-pointer text-green-800 hover:text-green-600 focus:outline-none focus:underline focus:text-green-600"
        role="button"
        tabindex="0"
      >
        {{ action }}
      </button>
    </p>
  </div>
</div>
