@if (hasError) {
<app-error
  [title]="'Error occurred'"
  [message]="this.errorMessage"
  [action]="'Try again'"
  [callback]="errorAction"
  aria-live="assertive"
  aria-label="Error occurred"
/>
} @else if (successMessage) {
<app-success
  [title]="'Login Successful'"
  [message]="successMessage"
  [action]="'Go to Home'"
  [route]="'/'"
  aria-live="assertive"
  aria-label="Logged in successfully"
/>
} @else {
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      alt="VoteVault"
      class="mx-auto h-10 w-auto"
      height="100"
      ngSrc="vv-logo-s.png"
      width="100"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in with Stellar
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      (ngSubmit)="logInUsingPrivateKey()"
      [formGroup]="loginForm"
      class="space-y-6"
    >
      <div>
        <label
          class="block text-sm font-medium leading-6 text-gray-900"
          for="privateKey"
          >Stellar Private Key</label
        >
        <div class="mt-2">
          <input
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            id="privateKey"
            name="privateKey"
            formControlName="privateKey"
            placeholder="Enter your Stellar Private key"
            required
            type="text"
          />
        </div>
      </div>

      <div>
        <button
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Log in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Don't have an account?
      <a
        class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        href="/register"
        >Register</a
      >
    </p>
  </div>
</div>
}
