<div class="relative isolate overflow-hidden bg-white">
  <svg
    aria-hidden="true"
    class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
  >
    <defs>
      <pattern
        height="200"
        id="pattern-1"
        patternUnits="userSpaceOnUse"
        width="200"
        x="50%"
        y="-1"
      >
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <rect fill="url(#pattern-1)" height="100%" stroke-width="0" width="100%" />
  </svg>

  <div
    class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40"
  >
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      <img alt="VoteVault Logo" height="50" ngSrc="vv-logo-s.png" width="50" />
      <h1
        class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
      >
        VoteVault
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        A open-source, blockchain-based and anonymous voting platform for any
        topic or poll, built with Stellar Smart Contracts.
      </p>

      <p class="mt-6 text-md text-gray-900">
        Search for a vote by entering the vote ID below.
      </p>
      <div>
        <div class="mt-2 flex rounded-md shadow-sm">
          <input
            [formControl]="voteId"
            aria-label="Vote ID"
            class="block w-full rounded-none rounded-l-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            id="voteId"
            name="voteId"
            placeholder="Vote ID"
            type="text"
          />
          <button
            (click)="pasteVoteId()"
            [disabled]="voteId.value || !hasClipboard"
            [ngClass]="{ 'cursor-not-allowed': voteId.value || !hasClipboard }"
            aria-label="Paste Vote ID from Clipboard"
            class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
            type="button"
          >
            Paste
          </button>
        </div>
        <button
          (click)="searchVote()"
          [disabled]="!voteId.value"
          [ngClass]="{
            'bg-gray-700 hover:bg-gray-700': !voteId.value,
            'bg-indigo-600 hover:bg-indigo-700': voteId.value
          }"
          aria-label="Search for Vote"
          class="mt-4 w-full inline-flex items-center justify-center px-4 py-2 text-sm font-semibold text-white border border-transparent rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          type="button"
        >
          Search
        </button>
      </div>
      <div class="px-4 py-4 sm:px-6 text-center">
        <p class="text-md text-gray-900">
          Or
          <button
            (click)="createVote()"
            aria-label="Create a New Vote"
            class="text-indigo-600 hover:underline cursor-pointer focus:outline-none focus:underline"
          >
            create a new vote
          </button>
          on the blockchain.
        </p>
      </div>
    </div>

    <!-- Right Side Image -->
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32"
    >
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <div
          class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4"
        >
          <img
            alt="Vote results app preview"
            class="w-[76rem] rounded-md shadow-2xl ring-1 ring-gray-900/10"
            height="400"
            ngSrc="results-preview.png"
            priority="true"
            width="890"
          />
        </div>
      </div>
    </div>
  </div>
</div>
