@if (hasAlreadyVoted) {
<app-thanks />
} @else { @if (isLoading) {
<app-loading aria-live="polite" aria-label="Loading..."></app-loading>
} @if (!isLoading && !hasError) {
<app-cast
  [voteId]="voteId"
  [optionsArr]="optionsArr"
  (castedEvent)="receiveCastedEvent($event)"
  [dataArr]="dataArr"
/>
} @if (hasError) {
<app-error
  [title]="'Error occurred'"
  [message]="'An unexpected error occurred. Please try again later.'"
  [action]="'Go to Home'"
  [route]="'/'"
  aria-live="assertive"
  aria-label="Error occurred"
/>
} }
