<div
  class="max-w-3xl mx-auto py-12 px-4 sm:px-6 lg:px-8 bg-white shadow-md rounded-lg"
>
  <h1 class="text-3xl font-bold text-gray-900 mb-6">Cookie Policy</h1>

  <p class="text-gray-700 mb-4">
    This Cookie Policy explains how we use cookies and similar technologies to
    recognize you when you visit our website. It explains what these
    technologies are and why we use them, as well as your rights to control our
    use of them.
  </p>

  <h2 class="text-2xl font-semibold text-gray-900 mb-4">What Are Cookies?</h2>
  <p class="text-gray-700 mb-4">
    Cookies are small data files that are placed on your computer or mobile
    device when you visit a website. Cookies are widely used by website owners
    to make their websites work, or to work more efficiently, as well as to
    provide reporting information.
  </p>

  <h2 class="text-2xl font-semibold text-gray-900 mb-4">How We Use Cookies</h2>
  <p class="text-gray-700 mb-4">We use cookies for the following purposes:</p>
  <ul class="list-disc list-inside text-gray-700 mb-4">
    <li>
      <strong>Session Cookies:</strong> We use session cookies to store a
      private and public key that allows us to maintain your session while you
      navigate our website. These cookies are essential for the website to
      function properly and are automatically deleted when you close your
      browser.
    </li>
    <li>
      <strong>Cookie Consent:</strong> We use a cookie to remember whether you
      have accepted our use of cookies. This ensures that we do not show you the
      cookie consent banner repeatedly once you have made your choice.
    </li>
  </ul>

  <h2 class="text-2xl font-semibold text-gray-900 mb-4">Managing Cookies</h2>
  <p class="text-gray-700 mb-4">
    By using our website, you must accept the use of cookies. If you do not
    accept cookies, you will not be able to use our website, as they are
    essential for the website's functionality.
  </p>

  <h2 class="text-2xl font-semibold text-gray-900 mb-4">
    Changes to This Cookie Policy
  </h2>
  <p class="text-gray-700 mb-4">
    We may update this Cookie Policy from time to time in order to reflect
    changes to the cookies we use or for other operational, legal, or regulatory
    reasons. Please revisit this Cookie Policy regularly to stay informed about
    our use of cookies and related technologies.
  </p>

  <h2 class="text-2xl font-semibold text-gray-900 mb-4">Contact Us</h2>
  <p class="text-gray-700 mb-4">
    If you have any questions or concerns about our use of cookies or other
    technologies, please feel free to reach out to us via our github repository.
  </p>
</div>
